{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div class="span9">
    <ul class="breadcrumb">
		<li>Home<span class="divider">/</span></li>
		<li>View Orders<span class="divider">/</span></li>
		<li class="active">Payment Details</li>
    </ul>
	<h3> Payment Details</h3>
	<hr class="soft"/>
		
	<div class="well">
		<div class="row">
		
			<div class="span4" style="font-size:17px">
				{% for v in data %}
				<p style="font-size:16px">
					<div class="image-frame" style="margin-left:0px;background: url('{{v.order_id.part_id.path.url}}');background-position: center;background-size: cover;"></div>
					<br/><br/>
		 			<div>
						<b>Spare Part      :</b> {{v.order_id.part_id.part_name}}<br/><br/>
			  		<b>Buyer Name      :</b> {{v.user_id.name}}<br/><br/>
					<b>Amount Paid     :</b> {{v.amount}} RS<br/><br/>
					<b>Transaction Key :</b> {{v.transaction_key}}<br/><br/>
					<b>Date		:</b> {{v.date}}<br/><br/>
							<label style="color:red">Warning:Secure Transaction Key</label><br/>
					</div>
				</p>		
			
			{% endfor %}	
			</div>	
		</div>
					
				
			
	</div>
	</div>	
{% endblock %}