{% extends 'base.html' %}
{% load static %}

{% block content %}
	
	<div class="span9">
    <ul class="breadcrumb">
		<li>Home<span class="divider">/</span></li>
		<li class="active"> View Orders</li>
    </ul>
	<h3> View Orders </h3>	
	{% if msg %}
		<label>{{msg}}</label>
	{% else %}
		<div class="tab-content">
		
		<div id="listView" class="shop-details">
		{% for v in data %}
				<div class="row">	  
					<div class="span3" style="padding-left:5em">
						<div class="image-frame" style="background: url('{{v.part_id.path.url}}');background-size: cover;background-position: center;"></div>
					</div>
					<div class="span9" style="padding: 0px;border: none;">
					<h3 style="font-size:20px;text-transform: capitalize;">{{v.part_id.part_name}}{% if v.prebook_id != None %}<span style="float:right;font-size:15px">Prebooked : ID : {{v.prebook_id}}</span>{% endif %}</h3>				
					<p style="line-height: 1.9;">
						<b>Brand :</b> {{v.part_id.brand_id.brand_name}}<br/>
						<b>Model :</b> {{v.models}}<br/>
						<b>Quantity :</b> {{v.count}}<br/>
						<b>Total Price :</b> {{v.total_price}} RS<br/>
						<b>Date :</b> {{v.date}}<br/>
						<b>Time :</b> {{v.time}}<br/>
						<b>Status :</b> {{v.status}}<br/>
			
					</p>
					<a class="btn btn-accent max-limit" href="{% url 'orderDetails' v.id %}">Details</a>
					<br>
					{% if v.status == "paid" %}
					<div class="btn-group-wrapper" style="padding: 0px;">
						<a class="btn btn-secondary" href="{% url 'paymentDetails' v.id %}">Payment Details</a>
						<a class="btn btn-secondary" href="{% url 'addTrackingDetails' oid=v.id page=data.number %}">Add Tracking Details</a>
					</div>
					{% endif %}
					{% if v.status == "cancelled" %}
					<a class="btn btn-secondary" href="{% url 'verifyCancelling' oid=v.id page=data.number %}">Verify Order Cancelling</a>
					{% endif %}
					
					</div>
					
				</div>
			<hr class="soft"/>
			{% endfor %}
		</div>

	
		<hr class="soft"/>
		</div>
	{% endif %}
	
	<div class="pagination">
		{% if data.has_other_pages %}
			<ul class="pagination">
				{% if data.has_previous %}
					<li><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
				{% else %}
					<li class="disabled"><span>&laquo;</span></li>
				{% endif %}
				{% for i in data.paginator.page_range %}
					{% if data.number == i %}
						<li class="active"><span>{{i}}<span class="sr-only">(current)</span></span></li>
					{% else %}
						<li><a href="?page={{i}}">{{i}}</a></li>
					{% endif %}
				{% endfor %}
				{% if data.has_next %}
					<li><a href="?page={{ data.next_page_number }}">&raquo;</a></li>
				{% else %}
					<li class="disabled"><span>&raquo;</span></li>
				{% endif %}
			</ul>
		{% endif %}
	</div>
	
<br/>

		
</div>
	<script src="/static/jquery.min.js"></script>
	{% if messages %}
			{% for message in messages %}
			<script>
				alert('{{message}}');
			</script>
			{% endfor %}
	{% endif %}

{% endblock %}